<%= render 'navbar' %>

<h2>All Flights</h2>

<% if !current_user.admin == "1" %>

    <% @flights.each do |flight| %>
    <%= link_to "Go to #{flight.destination}", flight_path(flight) %><br>
    <% end %><br>

    <h4><%= link_to "Booked Flights", user_path(current_user)%></h4>

  <br></br>

<% end %>

<% if current_user.admin == "1" %>
  <h1>**ADMIN***</h1>

  <% @flights.each do |flight| %>
  Name <%= flight.name %><br>
  Destination: <%= flight.destination %>
  <h4><%= link_to "Edit Flight #{flight.name}", edit_flight_path(flight) %></h4>
  <% end %>

  <br></br>

  <h2>Create a New Flight</h2>
  <%= render 'form' %>
  <br>

  <h3><%= link_to "See All Bookings", bookings_path %></h3>
  <br></br>

<% end %>
