<h2> Flight Information</h2>
Flight Number: <%= @flight.name %><br>
Destination: <%= @flight.destination %><br>
Passengers Booked on this flight: <%= @flight.users.count %><br></br>

<% if @flight.users.count > 20 %>
  <h1><%= "This flight is FULL!" %>"</h1>

<% else %>
  <%= link_to "Book this Flight", new_booking_path(@flight.users) %><br>
  <%= link_to "See All Flights", flights_path %><br>
<% end %>
