  <%= render 'navbar' %>

<% if current_user.admin == "1" %>
  <%= "**ADMIN***" %>

  <% @bookings.each do |booking| %>
    Flight: <%= booking.flight.name %><br>
  <% end %><br></br>

<% else %>

  <h2><%= current_user.name%>'s Booked Flights</h2>

  <% current_user.bookings.each do |booking| %>
  Flight: <%= booking.flight.name %>
    <%= link_to "Confirmation", flight_booking_path(booking.flight_id, booking) %><br>
    <% end %><br>
<% end %>
