  <%= render 'navbar' %>

<% if current_user.admin == "1" %>
  <h3><%= "**ADMIN***" %></h3>

  <% @bookings.each do |booking| %>
    Flight: <%= booking.flight.name %><br>
  <% end %><br></br>

<% else %>

  <h2><%= current_user.name%> Booked Flights</h2>
      <% current_user.bookings.map do |booking| %>
      Flight: <%= booking.flight.name %>
      <%= link_to "Confirmation", booking_path(booking) %><br>
      <% end %>
<% end %>
