<% if @user.admin %>
  <h1>ADMIN</h1>
<% else %>

<h1><%= @user.name %>'s Booked Flights </h1>
<h2>Email: <%= @user.email %></h2>
<h2>Facebook UID: <%= @user.uid %></h2>
<img src="<%= @user.image %>">

<br></br>

  <% @user.flights.each do |flight| %>

  <%= flight.name %><br>
  <%= link_to flight.destination, flight_path(flight) %><br>

    Notes:<% flight.bookings.each do |b| %>

      <% if b.paid == 0 %>
        <%= "***PAYMENT REQUIRED***"%>
      <% end %>
      <%= b.description %>
    <% end %><br></br>
  <% end %><br>

<% end %>

 <br></br>

<%= link_to "Booking Details", user_booking_path(@user.id)%><br>
 <%= link_to "See All Flights", flights_path %><br>
<h4><%= link_to "Log Out", '/sessions/destroy' %></h4>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
