<%= render 'navbar' %>

<h3>User Profile</h3>
<% if current_user.admin == "1" %>

  <h1>**ADMIN***</h1>
<% else %>

<h2><%= @user.name %>'s Booked Flights </h2>
<h4>Email: <%= @user.email %></h4>

<br></br>

<% @user.flights.each do |flight| %>

  <%= flight.name %><br>
  <%= link_to flight.destination, flight_path(flight) %><br>

    <% flight.bookings.where(:paid => 0).each do |b| %>
      <%= "**PAYMENT REQUIRED**" %>
      <% end %><br></br>
  <% end %><br>
<% end %><br>
