<% if @user.admin %>
  <h1>ADMIN</h1>
<% end %>

  <h1><%= @user.name %></h1><br>
<h3> Booked Flights </h3>
  <%= @user.bookings.each do |booking| %>
  <%= booking.user_id %>
  <%= link_to booking.user_id, booking_path(booking)  %>
  <% end %>
 <br></br>

<h3> Available Flights </h3>
  <%= @user.flights.each do |flight| %>
  <%= flight.name %>
  <%= link_to flight.name, user_path(booking)  %>
  <% end %>
